# Виртуальные окружения Python
venv
.venv

# Настройки IDE
.idea
.vscode/

# Скомпилированный код Python
__pycache__

# Секреты и переменные окружения
.env
.env-test

# Служебные файлы macOS Finder
.DS_Store

# Локальное состояние расписания Celery Beat
celerybeat-schedule*
